 
<nav class="top_navigation">
    <div class="container">
        <div class="logo_block">
            <img src="../../../assets/img/logo.png" />
        </div>
    </div>
</nav>
<div class="inner_block" style="background-color:rgb(235, 204, 216);">
    <div class="container">
        <div class="choose_section">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="card bg_phase">
                        <div class="card-body">
                            <div class="wet_area_block">
                                <span class="wet_details">Manage Admin Module</span>
                                <button (click)="adminmoduleclicked()" type="button" class="btn btn-danger">Go To</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="card bg_wet">
                        <div class="card-body">
                            <div class="wet_area_block">
                                <span class="wet_details">Manage Sales Represtative</span>
                                <button (click)="salesrep()" type="button" class="btn btn-danger">Go TO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>