 
<div class="login_section">
    <div class="login_card card">
        <div class="card-body">
            <img src="../../../assets/img/logo.png" class="login_center">
            <h5>Login to Sales Representative</h5>
            <div class="login_form row">
               <!--  <div class="col-lg-12">
                    <input type="text" placeholder="Login" class="form-control mb-4" />
                </div>
                <div class="col-lg-12">
                    <input type="password" placeholder="password" class="form-control mb-4" />
                </div> -->
            </div>
            <div class="login_footer">
                <button class="btn btn-danger btn-block" (click)="salesrep()">Login</button>
            </div>
        </div>
    </div>
</div>