 
<nav class="top_navigation">
    <div class="container">
        <div class="logo_block">
            <img src="../../../assets/img/logo.png" />
        </div>
        <ul class="nav_buttons">
           <!--  <li class="bg-info text-white" routerLink="/customerinfo">Registration</li>
            <li class="btn bg-primary text-white" routerLink="/wetareas">Wet Area</li>
            <li class="btn bg-warning text-white" routerLink="/phase2items">Phase 2</li> -->
            <li class="btn bg-danger text-white" routerLink="/">Logout</li>
        </ul>
    </div>
</nav>
<div class="inner_block" style="background-color:rgb(235, 204, 216);">
    <div class="container" >
        <div class="choose_section">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="card bg_wet">
                        <div class="card-body">
                            <div class="wet_area_block">
                                <!-- This package is the perfect drive solution for up to 10 connected belt or chain conveyor segments in the wet areas of bottling plants. -->
                                <span class="wet_details">Wet Areas Packages and Accessories</span>
                                <button (click)="wetareasclick()" type="button" class="btn btn-danger" style="    float: right;">Go TO</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="card bg_phase">
                        <div class="card-body">
                            <div class="wet_area_block">
                                <!-- This package is the perfect drive solution for up to 10 Electrical Items & Accessories. -->
                                <span class="wet_details">Phase 2 Items and Accessories</span>
                                <button (click)="phase2click()" type="button" class="btn btn-danger" style="    float: right;">Go To</button>
                            </div>
                        </div>
                    </div>  
                </div>
               
            </div>

        </div>
    </div>
</div>