@media all and (min-width: 768px) {
    tr td {
        vertical-align: middle !important;
   }
    tr span:not([class]) {
        padding: 1rem 1rem;
   }
}


::ng-deep .pi-chevron-right::before {
    
    
    color: black;
    
  }
  
::ng-deep .pi-chevron-down::before {


color: black;

}


.maindiv{
    width: 90%; 
    height: 100vh; 
    background-color: rgb(242, 242, 242);
}


.matcardclass{
    background-color:rgb(250, 250, 250);
    color: black;
    padding:0px;
    
}

.imgclass{
    width: 90%;
    height: 55vh;
}

.leftbutton{
    text-align: center;
}

.rightbutton{
    text-align: center;
}

.matbut{
    background-color:crimson;
    color: whitesmoke;
    font-size: 24px;
    border: none;
}

.matbutfile{
    
    
    
    border: none;
}